#brand-logo {
  font-size: 34px;
}

#app-navbar {
  background: linear-gradient(120deg, #454b4a, #5983e8);
  padding: 10px;
  border: 1px;
  border-radius: 5px;
}

a {
  justify-self: center;
}

body {
  padding: initial;
}

.pull-right {
  position: relative;
}

button {
  position: absolute;
  left: 40%;
  height: 37px;
  transform: rotate(0deg);
  filter: brightness(195%) contrast(192%) grayscale(0%) saturate(100%);
  background: var(--bs-red);
  width: 173, 162px;
}

.action-button {
}

.action-button {
  margin-top: 50px;
}

.action-button {
  margin-right: -50px;
  color: var(--bs-indigo);
  margin-top: 60px;
  margin-bottom: -50px;
  margin-left: -50px;
}

.action-button {
  margin-top: 15px;
  margin-right: -5px;
  margin-bottom: -5px;
  margin-left: -350px;
}

.pulseBtn {
}

.tint {
  height: 250px;
  width: 1306px;
  margin: 2px;
  margin-top: -46px;
  background: var(--bs-red);
  border-color: var(--bs-red);
  opacity: 1;
  filter: blur(0px) brightness(103%) contrast(200%) grayscale(39%) hue-rotate(50deg) invert(0%) saturate(58%) sepia(33%);
}

